# Dependencies
node_modules/

# Environment variables (MAXFIY - hech qachon GitHub'ga yuklanmasin!)
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
